/*
Autor: Petr Marek (xmarek69), Daniel Bílý (xbilyd01), Jakub Gajdo±ík (xgajdo24)
*/
#vydej #goods_table input[type="text"] {
    background-color: transparent;
    border: 1px solid black;
    padding: 0;
    text-align: center;
}

#vydej #goods_table #add_button {
    font-size: 1.5em;
    background-color: #014F92;
    border: 0;
    border-radius: 1em;
    color: white;
    padding: 0px 50px;
    margin-top: 5px;
}
